<div class="vlabs-page-content px-4 pb-4 flex-grow-1 markdown-body">
  <div class="text-center">
    {{{experiment_name}}}
  </div>
  {{#if isText}}
    {{{content}}}
  {{/if}}
  {{#if isVideo}}
    {{{content}}}
  {{/if}}
  {{#if isSimulation}}
    <div class="simulation-container">
      <iframe class="responsive-iframe" id="fraDisabled" src="{{sim_src}}"
	      frameborder="0" scrolling="no" onMyLoad="disableContextMenu();">
      </iframe>
    </div>
  {{/if}}
  {{#if isAssesment}}
    {{#if isJsVersion }}
      <div id="quiz"></div>
    {{/if}}
    {{#if isJsonVersion }}
      {{#if jsonVersion }}
        <h1>{{jsonVersion}}</h1>
        <div id="quiz" class="version{{jsonVersion}}">
      
      {{#each questions}}
      
        <div class="question">
          {{{this.question}}}
        </div>
        
        <div class="answers">
          {{#each this.answers}}
          <label>
            <input type="radio" name="question{{@../index}}" value="{{@key}}">
              {{@key}}: {{this}}
          </label>
            
          {{/each}}
      </div>
      {{/each}}
      
      </div>
    {{else}}
    <div id="quiz">
      
      {{#each questions}}
      
        <div class="question">
          {{{this.question}}}
        </div>
        
        <div class="answers">
          {{#each this.answers}}
    <label>
      <input type="radio" name="question{{@../index}}" value="{{@key}}">
            {{@key}}: {{this}}
          </label>
            
    {{/each}}
        </div>
        
      {{/each}}
      
      </div>  
    {{/if}}
    {{/if}}
      <button id="submit" class="btn btn-primary">Submit Quiz</button>
      <div id="results"></div>
  {{/if}}
</div>
{{#if isAssesment}}
  {{#if isJsVersion }}
    <script src="{{quiz_src}}"></script>
  {{/if}}
  
  {{#if isJsonVersion }}
  <script>
    const myQuestions = {{{questions_str}}};
  </script>
  {{#if isJsonVersion }}
    <script src="{{assets_path}}/assets/js/assesment_v2.js"></script>  
  {{else}}
    <script src="{{assets_path}}/assets/js/assesment.js"></script>  
  {{/if}}
  {{/if}}
{{/if}}