<div class="svc-rating-display">
    <rating-display 
      spreadsheetID={{page_plugins.svc-rating.attributes.spreadsheetID}}
      sheetName={{page_plugins.svc-rating.attributes.sheetName}}
      columnName="{{page_plugins.svc-rating.attributes.columnName}}"
      columnValue={{page_plugins.svc-rating.attributes.columnValue}}
      imagesDirectory={{page_plugins.svc-rating.attributes.imagesDirectory}}
    >
    </rating-display>
</div>