<!DOCTYPE html>
<html lang="en">
	<head>
		{{> meta }}
		{{> commons }}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/virtual-labs/virtual-style@0.0.6-b/css/style.min.css">
		{{#each css_files}}
		<link rel="stylesheet" href="{{this}}">
		{{/each}}
	</head>

	<body> 
		<div>
			<div class="columns is-mobile is-flex">
				<div class="column is-flex is-align-items-stretch">
					<a href="http://vlab.co.in" class="navbar-brand">
						<img src="{{this.assets_path}}/assets/images/vlabs-color-small-moe.jpg" alt="vlabs logo" class="vlabs-logo">
					</a>
					<div class="title is-2 center">
						{{{this.experiment_name}}}
					</div>
				</div>
			</div>
		</div>

		<div id="loader" class="loader">
		</div>

		<div class="columns is-mobile is-centered is-flex">
			<div class="column has-text-centered">
				<div class="title">Pagewise Performance Summary</div>
			</div>
		</div>

		<div class="legend is-size-4 is-flex is-justify-content-space-between">
			<p class="red">Red: 0 - 50</p>
			<p class="orange">Orange: 50 - 90</p>
			<p class="green">Green: 90 - 100</p>
		</div>

		<div class="columns is-mobile is-centered">
			<div class="column has-text-centered">
				<div class="v-tabs">
					<ul>
						{{#each units}}
						<li {{#if this.units}} id="{{this.label}}" {{/if}} {{#unless this.units}} id="{{this.target}}" {{/unless}} {{#if this.isCurrentItem}} class="is-active" {{/if}}>
							<a>
								<span>{{this.label}}</span>
							</a>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>

		{{#each units}}
		{{#if this.units}} 
		<div class="columns is-mobile is-centered no-show" id="{{this.label}}SubTabs">
			<div class="column has-text-centered">
				<div class="v-tabs">
					<ul>
						{{#each this.units}}
						<li id="{{this.target}}" {{#if this.isCurrentItem}} class="is-active" {{/if}}>
							<a>
								<span>{{this.label}}</span>
							</a>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
		{{/if}}
		{{/each}}

		<div class="columns is-centered" id="lighthouse">
			<div class="column has-text-centered lined" id="mobile">
			</div>
			<div class="column has-text-centered lined" id="desktop">
			</div>
		</div>

		<div class="columns is-mobile is-centered" id="gsc">
			<div class="column has-text-centered" id="gscRes">
				<div class="card is-fullwidth">
					<header class="card-header card-toggle" id="card-toggle">
						<a class="card-header-title" id="gscStatus"></a>
						<!--<a class="card-header-icon">-->
							<!--<i class="fa fa-angle-down"></i>-->
						<!--</a>-->
					</header>
					<div class="card-content is-hidden">
						<div class="content" id="gscIssues">
							Hello
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		{{#each js_files}}
		<script src="{{this}}"></script>
		{{/each}}
	</body>
</html>
